[package]
name = "wasm"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
interpreter = { path = "../interpreter" }
wasm-bindgen = "0.2.87"
ast = { path = "../ast" }
parser = { path = "../parser" }
